# .gitignore
# Node dependencies
node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version
env/
venv/
.venv/

# Environment variables
.env
js/env-config.js
.env.local
.env.production

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Cloudflared
.cloudflared/

# Session files
.flask_session/

# Backend
backend/
books/
book/
numerical-physics-code/
chatting/
chattings/